.workflow-tree {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.node-branch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.children {
  display: flex;
  justify-content: center;
  gap: 80px;               
  margin-top: 40px;
  flex-wrap: wrap;
}

.child-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connector-line {
  width: 3px;            
  height: 50px;
  background-color: #aaa;
  margin: 10px 0;
  border-radius: 2px;
}